In [386]:
import pandas as pd
import numpy as np

from sklearn.impute import KNNImputer
from sklearn.metrics import accuracy_score

import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier

from sklearn import metrics

from sklearn.metrics import confusion_matrix


import warnings
warnings.filterwarnings('ignore')

In [387]:
data=pd.read_csv("train.csv",sep=",",encoding="utf-8")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [388]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [389]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [390]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [391]:
numerical_data = []
object_data = []

for column in data.columns:
    if data.dtypes[column] != 'object':
        numerical_data.append(column)
    else:
        object_data.append(column)

In [392]:
numerical_data

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [393]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
data['Age'] = imputer.fit_transform(data[['Age']])

In [394]:
data["Sex"]=data["Sex"].replace("male",0)
data["Sex"]=data["Sex"].replace("female",1)

data["Embarked"]=data["Embarked"].replace("S",0)
data["Embarked"]=data["Embarked"].replace("C",1)
data["Embarked"]=data["Embarked"].replace("Q",2)

In [395]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0.0

In [396]:
for col in data.columns:
    contingency_table = pd.crosstab(data[col],new_df['Survived'])
    # Apply the chi-square test
    print(" p-value should be less then 0.05 and DOF should be less")
    chi2, p, dof,_ = stats.chi2_contingency(contingency_table)
    print(f"Chi-square test results for {col}:")
    print(f"Chi-square statistic: {chi2}")
    print(f"P-value: {p}")
    print(f"Degrees of freedom: {dof}")
    print("##############################")

 p-value should be less then 0.05 and DOF should be less
Chi-square test results for PassengerId:
Chi-square statistic: 891.0
P-value: 0.484248151973633
Degrees of freedom: 890
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Survived:
Chi-square statistic: 886.7768022383253
P-value: 7.352052198553542e-195
Degrees of freedom: 1
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Pclass:
Chi-square statistic: 102.88898875696056
P-value: 4.549251711298793e-23
Degrees of freedom: 2
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Name:
Chi-square statistic: 891.0
P-value: 0.484248151973633
Degrees of freedom: 890
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Sex:
Chi-square statistic: 260.71702016732104
P-value: 1.1973570627755645e-58
Degrees of freedom: 1
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Age:
Chi-square statistic: 113.77670967050013
P-value: 0.028588492552294256
Degrees of freedom: 87
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for SibSp:
Chi-square statistic: 37.2717929152043
P-value: 1.5585810465902147e-06
Degrees of freedom: 6
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Parch:
Chi-square statistic: 27.925784060236168
P-value: 9.703526421039997e-05
Degrees of freedom: 6
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Ticket:
Chi-square statistic: 766.5697029458893
P-value: 0.01152729601163775
Degrees of freedom: 680
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Fare:
Chi-square statistic: 425.8083805791106
P-value: 1.1647635739939964e-11
Degrees of freedom: 247
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Cabin:
Chi-square statistic: 161.25
P-value: 0.18357354976388165
Degrees of freedom: 146
##############################
 p-value should be less then 0.05 and DOF should be less
Chi-square test results for Embarked:
Chi-square statistic: 26.48914983923762
P-value: 1.769922284120912e-06
Degrees of freedom: 2
##############################

In [397]:
X = data.drop(['Survived','PassengerId','Name','Cabin','Ticket'],axis=1)
y = data['Survived']

In [398]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 48.9 KB

In [399]:
X =X.apply(lambda x: x.astype('category').cat.codes)
X.head()

   Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0       2    0   28      1      0    18         0
1       0    1   51      1      0   207         1
2       2    1   34      0      0    41         0
3       0    1   47      1      0   189         0
4       2    0   47      0      0    43         0

In [400]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [401]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


## Logistic Regression

In [402]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

y_pred =model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.80

In [403]:
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

0.7963483146067416
0.7988826815642458

In [404]:
df=pd.DataFrame({"y_predect":y_pred,"y_test":y_test})
df

     y_predect  y_test
709          0       1
439          0       0
840          0       0
720          1       1
39           1       1
..         ...     ...
433          0       0
773          0       0
25           0       1
84           1       1
10           1       1

[179 rows x 2 columns]

# Random Forest

In [405]:
RF = RandomForestClassifier(n_estimators=100, random_state=42)  
RF.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [406]:
y_pred =RF.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.83

In [407]:
print(RF.score(X_train,y_train))
print(RF.score(X_test,y_test))

0.9789325842696629
0.8268156424581006

# XGBoost

In [408]:
xgboost = xgb.XGBClassifier(objective='multi:softmax', num_class=3, random_state=42)

xgboost.fit(X_train, y_train)

y_pred = xgboost.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.82

In [409]:
print(xgboost.score(X_train,y_train))
print(xgboost.score(X_test,y_test))

0.9747191011235955
0.8212290502793296

# Using ANN

In [410]:
import tensorflow as tf

model = tf.keras.Sequential([
    tf.keras.layers.Dense(32, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

learning_rate = 0.001  


optimizer = tf.keras.optimizers.Adam(learning_rate=learning_rate)


model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])


model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split=0.1, verbose=2)


y_pred = (model.predict(X_test) > 0.5).astype(int)
accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy:", accuracy)


print("Classification Report:", classification_report(y_test, y_pred))
print("Confusion Matrix:", confusion_matrix(y_test, y_pred))

Epoch 1/20
20/20 - 0s - loss: 0.7226 - accuracy: 0.4531 - val_loss: 0.6619 - val_accuracy: 0.7222 - 370ms/epoch - 19ms/step
Epoch 2/20
20/20 - 0s - loss: 0.6680 - accuracy: 0.6219 - val_loss: 0.6027 - val_accuracy: 0.8333 - 35ms/epoch - 2ms/step
Epoch 3/20
20/20 - 0s - loss: 0.6232 - accuracy: 0.6844 - val_loss: 0.5527 - val_accuracy: 0.8472 - 37ms/epoch - 2ms/step
Epoch 4/20
20/20 - 0s - loss: 0.5966 - accuracy: 0.7469 - val_loss: 0.5063 - val_accuracy: 0.8472 - 36ms/epoch - 2ms/step
Epoch 5/20
20/20 - 0s - loss: 0.5667 - accuracy: 0.7500 - val_loss: 0.4634 - val_accuracy: 0.8750 - 36ms/epoch - 2ms/step
Epoch 6/20
20/20 - 0s - loss: 0.5478 - accuracy: 0.7437 - val_loss: 0.4246 - val_accuracy: 0.8889 - 35ms/epoch - 2ms/step
Epoch 7/20
20/20 - 0s - loss: 0.5223 - accuracy: 0.7719 - val_loss: 0.3931 - val_accuracy: 0.8750 - 34ms/epoch - 2ms/step
Epoch 8/20
20/20 - 0s - loss: 0.4965 - accuracy: 0.7719 - val_loss: 0.3712 - val_accuracy: 0.8889 - 35ms/epoch - 2ms/step
Epoch 9/20
20/20 - 0s - loss: 0.4969 - accuracy: 0.7781 - val_loss: 0.3547 - val_accuracy: 0.8889 - 35ms/epoch - 2ms/step
Epoch 10/20
20/20 - 0s - loss: 0.4879 - accuracy: 0.7844 - val_loss: 0.3382 - val_accuracy: 0.8889 - 36ms/epoch - 2ms/step
Epoch 11/20
20/20 - 0s - loss: 0.4814 - accuracy: 0.7781 - val_loss: 0.3302 - val_accuracy: 0.8889 - 35ms/epoch - 2ms/step
Epoch 12/20
20/20 - 0s - loss: 0.4769 - accuracy: 0.8047 - val_loss: 0.3210 - val_accuracy: 0.8889 - 35ms/epoch - 2ms/step
Epoch 13/20
20/20 - 0s - loss: 0.4700 - accuracy: 0.7828 - val_loss: 0.3155 - val_accuracy: 0.8750 - 35ms/epoch - 2ms/step
Epoch 14/20
20/20 - 0s - loss: 0.4677 - accuracy: 0.7797 - val_loss: 0.3099 - val_accuracy: 0.8750 - 37ms/epoch - 2ms/step
Epoch 15/20
20/20 - 0s - loss: 0.4605 - accuracy: 0.7937 - val_loss: 0.3081 - val_accuracy: 0.8750 - 35ms/epoch - 2ms/step
Epoch 16/20
20/20 - 0s - loss: 0.4513 - accuracy: 0.8000 - val_loss: 0.3004 - val_accuracy: 0.8750 - 35ms/epoch - 2ms/step
Epoch 17/20
20/20 - 0s - loss: 0.4594 - accuracy: 0.7969 - val_loss: 0.2995 - val_accuracy: 0.8750 - 36ms/epoch - 2ms/step
Epoch 18/20
20/20 - 0s - loss: 0.4334 - accuracy: 0.8094 - val_loss: 0.2980 - val_accuracy: 0.8889 - 37ms/epoch - 2ms/step
Epoch 19/20
20/20 - 0s - loss: 0.4555 - accuracy: 0.8000 - val_loss: 0.2990 - val_accuracy: 0.8889 - 36ms/epoch - 2ms/step
Epoch 20/20
20/20 - 0s - loss: 0.4402 - accuracy: 0.8078 - val_loss: 0.2956 - val_accuracy: 0.8889 - 35ms/epoch - 2ms/step
6/6 [==============================] - 0s 820us/step
Test Accuracy: 0.8100558659217877
Classification Report:               precision    recall  f1-score   support

           0       0.81      0.88      0.84       105
           1       0.80      0.72      0.76        74

    accuracy                           0.81       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

Confusion Matrix: [[92 13]
 [21 53]]